*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

h1{
    text-align: center;
    background-color:white;
    height: 10vh;
    width: 100%;

}
h2{
    text-align: center;
    background-color:orange;
    height: 10vh;
    width: 100%;


}